# Table of Contents
 <p><div class="lev1 toc-item"><a href="#What-do-we-have-in-the-database?" data-toc-modified-id="What-do-we-have-in-the-database?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>What do we have in the database?</a></div>

* Documentation: https://pypi.org/project/ankipandas/
* Database structure: https://github.com/ankidroid/Anki-Android/wiki/Database-Structure
* Finding recent reviews (conclusion: go for last - failed and next review soon)

```
rated:1
     cards answered today
rated:7:1
     cards answered Again (1) over the last 7 days
prop:ivl>=10
    cards with interval of 10 days or more
```

In [36]:
import ankipandas as ap
import sqlite3
import pandas as pd
col = ap.Collection("/home/jakob/.local/share/Anki2/", user="Jakob")

INFO: Loaded db from /home/jakob/.local/share/Anki2/Jakob/collection.anki2

# What do we have in the database?

In [42]:
# [elem for elem in dir(col) if not elem.startswith("__")]
dir(col)
#col

['_Collection__items',
 '_Collection__original_items',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_and_update_info',
 '_get_item',
 '_get_original_item',
 '_prepare_write_data',
 'cards',
 'db',
 'empty_cards',
 'empty_notes',
 'empty_revs',
 'notes',
 'path',
 'revs',
 'summarize_changes',
 'write']

In [19]:
col.notes.head()

,nguid,nmod,nusn,ntags,nflds,nmodel
nid,,,,,,
1419644212689,bqXvCv*]?X,1419644212,252,[],"[Hello!, Nǐ hǎo!, 你好！, [sound:tmp1cctcn.mp3]]",MarkAudio-787e4
1419644212690,oGXkUXNEy_,1419644212,252,[],"[What are you saying?, Nǐ shuō shénme?, 你说什么？,...",MarkAudio-787e4
1419644212691,e|5>M0}n(S,1419644212,252,[],"[What did you do?, nǐ zuò le shénme ?, 你做了什么？,...",MarkAudio-787e4
1419644212692,BZgnZkXDm@,1419644212,252,[],"[I know how to do it., Wǒ huì zuò., 我会做。, [sou...",MarkAudio-787e4
1419644212693,BMRded0|Bx,1419644212,252,[],"[Did you miss me?, nǐ xiǎng wǒ le ?, 你想我了？, [s...",MarkAudio-787e4

In [48]:
col.revs.tail(20)

,cid,rusn,rease,rivl,rlastIvl,rfactor,rtime,rtype
rid,,,,,,,,
1590301675215,1552222210271,551,3,126,73,1700,12314,review
1590301703080,1589821427866,551,2,3,1,2150,27853,review
1590301718885,1577307074884,551,3,6,5,1550,15783,review
1590301727073,1586930574295,551,3,6,3,1800,8164,review
1590301735500,1587363197172,551,3,4,1,1700,8404,review
1590301772587,1571334363019,551,3,7,6,1300,37051,review
1590301793290,1590175123831,551,1,-600,1,2300,20690,review
1590301801244,1567926032181,551,4,5,1,1450,7944,review
1590301805848,1577882770354,551,4,27,12,1600,4595,review
1590301840449,1587448009703,551,3,4,3,1800,34576,review
1590301845622,1586930494055,551,3,3,2,1900,5162,review
1590301889200,1585716277312,551,3,4,1,1350,43567,review
1590301896693,1589821820049,551,3,4,1,2100,7470,review
1590301903623,1588434584919,551,3,9,5,2100,6917,review
1590301926079,1588966429700,551,3,3,1,1300,22430,review
1590301935675,1585388988642,551,3,6,3,1300,9586,review
1590301942888,1588312247486,551,3,4,3,1300,7132,review
1590302063210,1579366237197,551,3,4,1,1300,34436,review
1590302074075,1573453372589,551,1,-600,74,1800,10824,review
1590302209989,1590091865740,551,2,2,1,2150,21605,review

In [44]:
col.cards.head()

,nid,cord,cmod,cusn,ctype,cqueue,cdue,civl,cfactor,creps,clapses,cleft,codue,cdeck,codeck
cid,,,,,,,,,,,,,,,
1419644220831,1419644212689,0,1581532830,314,relearn,due,1327,80,2800,3,0,2002,0,SpoonFedChinese,
1419644220832,1419644212689,1,1581950282,332,relearn,due,1357,105,2800,4,0,1001,0,SpoonFedChinese,
1419644220833,1419644212690,0,1581109388,290,relearn,due,1301,59,2650,3,0,2002,0,SpoonFedChinese,
1419644220834,1419644212690,1,1581450159,299,relearn,due,1287,41,2650,4,0,1001,0,SpoonFedChinese,
1419644220835,1419644212691,0,1581240595,290,relearn,due,1305,61,2650,3,0,2002,0,SpoonFedChinese,

In [38]:
cursor = col.db.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())
coll_info = cursor.execute("SELECT * FROM col")
#print(coll_info.fetchall())
coll_df = pd.read_sql_query("SELECT * FROM col", col.db)
coll_df

[('col',), ('notes',), ('cards',), ('revlog',), ('graves',), ('sqlite_stat1',), ('android_metadata',)]

,id,crt,mod,scm,ver,dty,usn,ls,conf,models,decks,dconf,tags
0,1,1473717600,1590566849423,1583836192135,11,0,552,1590566849423,"{""newBury"": true, ""timeLim"": 0, ""lastUnburied""...","{""1473873915756"": {""mod"": 1590333623, ""type"": ...","{""1580287994382"": {""newToday"": [1352, 0], ""rev...","{""1"": {""lapse"": {""leechFails"": 10, ""minInt"": 1...","{""1"": 0, ""428"": 0, ""_starred"": 0, ""bash"": 0, ""..."